* {
  margin: 0;
  padding: 0;
}

:root {
  /*colors */
  --color1: #c2e8fd;
  --color2: #ddd5d2;
  --color3: #2b2323;
  --color4: #916457;
  --color5: #337abf;
  --color6: #607c5d;
  --color7: #7fd83a;
  --color8: #663e35;
  --color9: #d8bc3b;
  --color10:#324977;
  --color11:#ff0000;
  --color12:blue;
  --color13:#376EFD;
  --color14:#ffffff;
  --fontSizenav: 22px;
  --fontSizelogo: 35px;
  --gap: 80px;
}
/* header */
header {
  font-family: "Exo 2", sans-serif;
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav */
nav {
  background: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  border: 0.5px solid var(--color2);
  height: 50px;
  padding:0 8px ;
}
/* nav left */
.left-section {
  font-size: var(--fontSizelogo);
}
nav a {
  text-decoration: none;
  color: var(--dark-text);
}
/*                                                                nav left */
/* nav mid */
.mid-section ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
  font-size: var(--fontSizenav);
}
.mid-section ul li {
  padding: 2px;
  border-radius: 5px;
}
.mid-section ul li #home {
  font-size: 23px;
  background: var(--color2);
  color: var(--gray);
  border-radius: 10px;
  padding: 2px;
}

.mid-section li:hover {
  background: rgba(0, 0, 0, 0.135);
  border-radius: 10px;
  transition: 0.5s;
  color: wheat;
}
.mid-section li a {
  border-radius: 10px;
  text-shadow: 0 0px 10px var(--color14);
}
.mid-section li:hover a {
  color: var(--color14);
  text-shadow: 0 0 1px var(--color3);
  transition: 0.3s;

}
/*                                                                nav mid */
/* nav right */
.rigth-section a button {
  background: var(--color13);
  width: 163px;
  height: 42px;
  border-radius: 10px;
  border: none;
}
.rigth-section  a {
  color: var(--color14);
  font-size: var(--fontSizenav);
}
.rigth-section  a:hover button{
  color: var(--color2);
  text-shadow: 0 0 20px var(--color3);
}

/*                                                                nav right */

/*                                                                nav */

/* interface */
.interheader{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:row-reverse;
    gap: 90px;
}
/* textheader */
.textheader{
display: flex;
width: 100%;
margin: 30px 0px;
margin-right: 200px;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
text-align: center;
}
.textheader h4{
  color: var(--color10);
text-shadow: 0 0 1px var(--color3);
font-size: 40px;
}
.textheader h5{
  color: var(--color10);
  text-shadow: 0 0 1px var(--color3);
  font-size: 13px;
}
.textheader img{
  max-height: 35vh;
}
.textheader a button{
  background: var(--color13);
  width: 163px;
  height: 42px;
  border-radius: 10px;
  border: none;
}

/* foto */

.interheader .imgs{
 max-width: 700px;
 min-width: 700px;
 margin: 30px 0px;
 border-radius: 5px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 
}
.interheader .imgs img{
width: 230px;
height: 280px;
border-radius: 12px;
border: 2px solid var(--color4);
animation: moveimgsheader 5s infinite  alternate;
}
/* media */
@media only screen and (max-width: 780px) {
  .interheader{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap: 90px;
}
  .interheader .imgs{
    width: 60%;
    background: black;

  } 
  .interheader .imgs img{
width: 100%;

  }
}
/* keyframes */

@keyframes moveimgsheader {
    0%{transform: rotate(-10deg);}
    100%{transform: rotate(-12deg);}
}
/*                                                                foto */
/*                                                                interface */

/*                                                                header */
